html
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}

h3
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


/*Header Styles*/
header
{
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
        "na na na"
        "em em ig"
        "li li ig"
        "ph ph ig"
        "gt gt ig";
}
#name {grid-area: na;}
#email {grid-area: em;}
#linkedin {grid-area: li;}
#phone {grid-area: ph;}
#git {grid-area: gt;} 
#me-img {grid-area: ig;}

h1
{
    text-align: center;    
}

header p
{
    margin: 5px;
}

img
{
    height: 110px;
    width: auto;
    display: block;
    margin-left: auto;
    padding-top: 0px;
}


/*Summary/Objective Styles*/
#objective
{
    padding-top: 5px;
}

#objective p
{
    margin: 2px;
    padding: 0;
}

/* Education */
#education
{
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "ed ed ed ed" 
        "sc sc sc el"
        "pr pr pr pr"
        "ae ae ae ae"
        "lr lr lr lr"
        "eu eu eu eu";
}
#ed {grid-area: ed;}
#school {grid-area: sc;}
#education-length {grid-area: el;}
#program {grid-area: pr;}
#area {grid-area: ae;}
#learns {grid-area: lr;} 
#ed-ulist {grid-area: eu;}

#ed-ulist
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:

    "oo fs"
    "ag db"
    "sy st"
    "al al";
}
#Object-Oriented {grid-area: oo;}
#full-stack {grid-area: fs;}
#agile {grid-area: ag;}
#database {grid-area: db;}
#Systems {grid-area: sy;}
#structures {grid-area: st;}
#algorithms {grid-area: al;}

#education p
{
    margin: 2px;
}

#education-length
{
    text-align: right;
}

#education
{
    padding-top: 5px;
}

/* Skills and Certifications */
#skills
{
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}

#sc-ulist
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "la wb"
        "pp to"
        "wi lg";
}
#lang {grid-area: la;}
#web {grid-area: wb;}
#pp {grid-area: pp;}
#tools {grid-area: to;}
#wsi {grid-area: wi;}
#lg {grid-area: lg;}

/* Experience */
#expericne
{
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}

#ex-one 
{
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
        "wk wk jl"
        "tt tt tt"
        "xu xu xu";
}
.work {grid-area: wk;}
.job-length {grid-area: jl;}
.title {grid-area: tt;}
.ex-ulist {grid-area: xu;} 

#ex-two 
{
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
        "wk wk jl"
        "tt tt tt"
        "xu xu xu";
}
.work {grid-area: wk;}
.job-length {grid-area: jl;}
.title {grid-area: tt;}
.ex-ulist {grid-area: xu;}

#ex-three 
{
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
        "wk wk jl"
        "tt tt tt"
        "xu xu xu";
}
.work {grid-area: wk;}
.job-length {grid-area: jl;}
.title {grid-area: tt;}
.ex-ulist {grid-area: xu;}

.job-length
{
    text-align: right;
}

#experience p
{
    margin: 0px;
    padding: 0px;
}

#experience
{
    padding-top: 3px;
}

/* Achievements and Activities */
#achievements
{
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}

#ahcievements ul
{
    margin: 2px;
    padding: 0;
}
